{{ 'section-about.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}


<section class="section-container ">
   <!-- Title -->
   <div class="about-section container section-vertical--space">
      <h1 class="{{ section.settings.heading_size }} text-center">{{ section.settings.heading | escape }}</h1>
      <p class="mt-5">{{ section.settings.about_description }}</p>
   </div>
   <div class="container">
<!-- Members -->
   {%- for block in section.blocks -%} {%- case block.type -%} {%- when 'member' -%}
   <div class="member-container">
      <div class="row gx-5">
         
               {%- if block.settings.avatar != blank -%}
               <div class="col-lg-4">
               <img class="avatar" src="{{ block.settings.avatar | img_url: '1500x' }}" loading="lazy" />
            </div>
               {%- else -%} {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }} {%- endif -%}
           <div class="details class="col-lg-6"">
           <div class="details">
               <div class="name">{{ block.settings.name }}</div>
               <p class="career"><b>{{ block.settings.career }}</b></p>
               <p>{{ block.settings.bio }}</p>
           </div>
         </div>
       </div>
      </div>
       {%- endcase -%}
      {%- endfor -%}
   </div>
</section>



{% schema %}
{
    "name": "About",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "About Screen Skinz",
      "label": "Title"
   }, 
   {
      "type": "textarea",
       "id": "about_description",
       "label": "About",
       "placeholder": "Description about the company"
      }
    ],
    "blocks": [
             {
               "type": "member",
               "name": "Member",
               "settings": [
                   {
                       "type": "image_picker",
                       "id": "avatar",
                       "label": "Avatar"
                   },
               {
                  "type": "text",
                  "id": "name",
                  "label": "Name"
              },
               {
                   "type": "text",
                   "id": "career",
                   "label": "career"
               },
               {
                "type": "text",
                "id": "bio",
                "label": "Bio"
            }  
            ]
       }
    ]
 }
{% endschema %}