{{ 'section-faq.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}


<div class="section-container ">
            <div>
               {%- for block in section.blocks -%}
               {%- case block.type -%}
               {%- when 'heading' -%}
               <h1 class="{{ block.settings.heading_size }}">{{ block.settings.heading | escape
                   }}</h1>
                   {%- endcase -%}
                   {%- endfor -%}
           </div>
            <div class="faq-container">
                  {%- for block in section.blocks -%}
                  {%- case block.type -%}
                  {%- when 'aqblock' -%}
                  <details>
                     <summary>{{ block.settings.question }} </summary>
                     <div class="faq-content">
                       <p>{{ block.settings.answer}}</p>
                     </div>
                   </details>
                  {%- endcase -%}
                  {%- endfor -%}
            </div>
    </div>


{% schema %}
{
    "name": "FAQ",
    "blocks": [
       {
          "type": "heading",
          "name": "Heading",
          "limit": 1,
          "settings": [
             {
                "type": "text",
                "id": "heading",
                "default": "Title",
                "label": "Title"
             }
            ]
             },
             {
               "type": "aqblock",
               "name": "Question & Answer",
               "settings": [
               {
                  "type": "text",
                  "id": "answer",
                  "label": "Answer"
              },
               {
                   "type": "text",
                   "id": "question",
                   "label": "Question"
               }
            ]
       }
    ],
    "presets": [
       {
          "name": "FAQ",
          "blocks": [
             {
                "type": "heading"
             }
          ]
       }
    ]
 }
{% endschema %}
