{{ 'section-hero.css' | asset_url | stylesheet_tag }}


<div class="container section-vertical--space"> 
<div class="title-container">
  <h1 class="title blue">Protection.</h1>
  <h1 class="title dark-blue">Fashion.</h1>
  <h1 class="title light-blue">Passion.</h1>
</div>
<div class="container" >
  <video class="hero-img" autoplay loop muted playsinline  oncontextmenu="return false;"  preload="auto" src="{{ 'hp-hero.mp4' | asset_url }}" alt="Screen Proctectors" ></video>
   <p class="product-description"> {{ section.settings.product_description }}</p>
    {%- for block in section.blocks -%}
    {%- case block.type -%}
        {%- when 'button' -%}
          <a{% if block.settings.button_link == blank %} aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
            {{ block.settings.button_label | escape }}
          </a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>


{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "product_description",
      "label": "label",
      "default": "The product description"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ],
  "blocks": [
  {
    "type": "button",
    "name": "t:sections.rich-text.blocks.button.name",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary",
        "default": false,
        "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
      }
    ]
  }
    ]
}
{% endschema %}

