<!-- Resources -->
{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<!-- HTML -->
<div class="header-container"> 
   <img class="hero-title" loading="lazy" src="{{ 'hp-hero-title.png' | asset_url }}" alt="Protection. Fashion. Passion." />
   <img class="hero" loading="lazy" src="{{ 'hp-hero.gif' | asset_url }}" alt="Screen Proctectors"/>
    {%- for block in section.blocks -%}
    {%- case block.type -%}
        {%- when 'button' -%}
          <a{% if block.settings.button_link == blank %} aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
            {{ block.settings.button_label | escape }}
          </a>
      {%- endcase -%}
    {%- endfor -%}
</div>

<!-- Schema -->
{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "presets": [
    {
      "name": "Hero"
    }
  ],
  "blocks": [
  {
    "type": "button",
    "name": "t:sections.rich-text.blocks.button.name",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary",
        "default": false,
        "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
      }
    ]
  }
    ]
}
{% endschema %}