{{ 'section-trust.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div>
        <h1 class="{{ settings.heading_size }}" {{ block.shopify_attributes }}>{{ section.settings.heading | escape }}</h1>
    </div>
    <div class="content-container">
        <div class="fanatics-block block">
            <img class="fanatics-logo" loading="lazy" src="{{ 'fanatics-logo.png' | asset_url }}" alt="Protection. Fashion. Passion." />
            <p>Screen Skinz are sold on Fanatics - The official retail partner for the NFL, MLB, NBA, and NHL.</p>
            <a href="https://www.fanatics.com/?query=screen%20protectors&_ref=p-SRP:m-SEARCH" target="_blank">
                <div class="shop-btn">Shop</div>
            </a>
        </div>
        <div class="licenses-block block">
            <img class="licenses-logo" loading="lazy" src="{{ 'licenses-logo.png' | asset_url }}" alt="Protection. Fashion. Passion." />
            <p>Screen Skinz products are the only screen protectors licensed within the NFL, MLB, NBA, and NCAA.</p>
        </div>
    </div>
</div>






{% schema %}
{
  "name": "Trust",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.rich-text.blocks.heading.settings.heading.label",
      "default": "Why Trust Us?"
    }
],
  "presets": [
    {
      "name": "Trust"
    }
  ]
}
{% endschema %}
